.card {
  height: auto;
  width: 400px;
  background-color: #d8d5d5;
  border: 1px solid #202020;
  padding: 30px;
}

.skill {
  padding: 10px;
  border-radius: 20px;
}

.skillList {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: 1.2em;
  padding: 20px 0px 20px 0px;
}

.name {
  font-size: 2em;
}

.profile {
  max-width: 400px;
  padding-bottom: 20px;
}
